* {
  box-sizing: border-box;
}

.body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 15px;
  color: #003333;
  text-align: center;
  background-color: #f9f1f1;
  height: 100%;
  position: relative;
}

.navigation{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

input, select, button{
  max-width: 150px;
}

.enter-button {
  margin-right: auto;
  margin-left: auto;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

table {
  display: inline-block;
  font-size: 12px;
}
h1{
  text-align: center;
}

@media screen and (min-width: 320px) {
  body{
      padding-left: 50px;
      padding-right: 50px;
  }
}

@media screen and (min-width: 1390px) {
  body{
      padding-left: 75px;
      padding-right: 75px;
  }

  .scrolling-wrapper {
      overflow-x: hidden;
      overflow-y: hidden;
      white-space: nowrap;
  }
}